venv/
.venv/
build/
*.charm
.coverage
__pycache__/
*.py[cod]
.idea
.vscode/
.fuse_hidden*
tests/interface-consumer/lib/charms/microovn/v0/ovsdb.py
tests/interface-consumer/lib/charms/tls_certificates_interface/v4/tls_certificates.py
.tox/
