name: Pull Request

on:
  pull_request:

jobs:
  inclusive-naming:
    name: Inclusive naming
    uses: canonical/Inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "false"

  codeql:
    name: CodeQL analysis
    runs-on: ubuntu-24.04
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  code-checks:
    name: Code Checks
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Tox
        run: |
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv
      - name: Check Code
        run: make check-code

  unit-tests:
    name: Unit Tests 
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Tox
        run: |
          sudo snap install astral-uv --classic
          uv tool install tox --with tox-uv
      - name: Run Unit Tests
        run: make check-unit

  pack-microovn:
    uses: ./.github/workflows/_build_charm.yaml
    with:
      path-to-charm-directory: microovn

  pack-interface-consumer:
    uses: ./.github/workflows/_build_charm.yaml
    with:
      path-to-charm-directory: tests/interface-consumer
      pre-pack-hook: make charm-libs

  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.discover.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-venv jq
      - name: Discover individual tests
        id: discover
        run: |
          make .venv
          export MICROOVN_CHARM_PATH="filler"
          export INTERFACE_CONSUMER_CHARM_PATH="filler"
          tests=$(.venv/bin/pytest -q --collect-only tests/integration/ | grep ::test_ | jq -R -s -c 'split("\n")[:-1]')
          echo $tests
          echo "matrix={\"test\":$tests}" >> $GITHUB_OUTPUT

  test:
    runs-on: ubuntu-latest
    needs:
      - pack-microovn
      - pack-interface-consumer
      - setup
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: ./charms

      - name: Set charm paths
        run: |
          # Find each charm file by its expected prefix
          MICROOVN_CHARM_PATH=$(find ./charms -type f -name 'microovn_*.charm' -print -quit)
          INTERFACE_CONSUMER_CHARM_PATH=$(find ./charms -type f -name 'interface-consumer_*.charm' -print -quit)

          echo "MICROOVN_CHARM_PATH=$MICROOVN_CHARM_PATH" >> $GITHUB_ENV
          echo "INTERFACE_CONSUMER_CHARM_PATH=$INTERFACE_CONSUMER_CHARM_PATH" >> $GITHUB_ENV

          echo "MicroOVN charm: $MICROOVN_CHARM_PATH"
          echo "Interface consumer charm: $INTERFACE_CONSUMER_CHARM_PATH"

      - name: Install dependencies
        run: |
          sudo snap install concierge --classic

      - name: Prepare Environment for functional tests
        run: |
          # Use concierge to setup LXD, microk8s and bootstrap juju controller
          cat <<EOF >>/tmp/concierge.yaml
          juju:
            channel: 3.6/stable

          providers:
            microk8s:
              enable: true
              bootstrap: false
              addons:
                - dns
                - hostpath-storage
                - metallb

            lxd:
              enable: true
              bootstrap: true
          EOF

          # Workaround for canonical/concierge#75
          sudo snap install microk8s --channel 1.32-strict/stable
          sudo mkdir -p /var/snap/microk8s/current/args/certs.d/docker.io
          cat <<EOF | sudo tee /var/snap/microk8s/current/args/certs.d/docker.io/hosts.toml
          server = "$DOCKERHUB_MIRROR"
          [host."$DOCKERHUB_MIRROR"]
          capabilities = ["pull", "resolve"]
          EOF
          sudo microk8s stop
          sudo microk8s start

          sudo concierge prepare -c /tmp/concierge.yaml

          # Add microk8s as a kubernetes substrate to the Juju controller
          sudo microk8s status --wait
          # The kubernetes API is not always immediately available to use, even if
          # microk8s status reports ready state. These retries ensure that we don't
          # fail the test unnecessarily
          (r=30;while ! juju add-k8s mk8s --controller concierge-lxd ; do ((--r))||exit;sleep 2;done)
          sudo snap install charmcraft --classic

      - name: Run single test
        run: make check-integration TESTSUITEFLAGS="${{ matrix.test }}"
