name: Pull Request

on:
  pull_request:

jobs:
  pack-microcluster-token-distributor:
    uses: canonical/microcluster-token-distributor-operator/.github/workflows/pack.yaml@main
    with:
      name: microcluster-token-distributor
      path: token-distributor
  pack-microovn:
    uses: canonical/microcluster-token-distributor-operator/.github/workflows/pack.yaml@main
    with:
      name: microovn
      path: microovn
  test:
    runs-on: ubuntu-latest
    needs:
      - pack-microcluster-token-distributor
      - pack-microovn
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: microcluster-token-distributor
      - uses: actions/download-artifact@v4
        with:
          name: microovn

      - name: Set charm paths
        run: |
          set -- ${{ needs.pack-microovn.outputs.charms }}
          echo "MICROOVN_CHARM_PATH=$1" >> $GITHUB_ENV
          set -- ${{ needs.pack-microcluster-token-distributor.outputs.charms }}
          echo "TOKEN_DISTRIBUTOR_CHARM_PATH=$1" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          sudo snap install concierge --classic

      - name: Prepare Environment for functional tests
        run: |
          sudo concierge prepare -p machine

      - name: Run test
        run: make test
